.page {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.firstBrake {
  background-image: url('../../assets/images/signBg.jpg');
  background-position: center;
  background-size: cover;
  /* height: 102vh; */
  height: 660px;
}

.firstBrakeWrapper {
  background: linear-gradient(rgba(0, 0, 0, .8),
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .9));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bannerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 138px;
}

.bannerCenter h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 52px;
}

.bannerCenter h2 {
  font-size: 26px;
  font-family: 'Netflix Sans Rg';
  font-weight: 400;
  margin-bottom: 30px;
}

.bannerCenter h3,
.emailArea h3 {
  font-size: 19px;
  font-family: 'Netflix Sans Rg';
  font-weight: 200;
  margin-bottom: 20px;
}

.subscribeArea {
  display: flex;
  align-items: stretch;
  height: 60px;
}

.inputArea {
  width: 450px;
  position: relative;
  height: 100%;
}

.inputLabel {
  color: grey;
  position: absolute;
  left: 10px;
  top: 19px;
  transition: .2s;
  cursor: text;
}

.subscribeInput {
  width: 100%;
  height: 100%;
  border: 1px solid #777;
  outline: none;
  text-indent: 10px;
  font-family: 'Netflix Sans Rg';
  font-size: 15px;
}

.subscribeInput:focus~.inputLabel,
.subscribeInput:not(:placeholder-shown).subscribeInput:not(:focus)~.inputLabel {
  top: 5px;
  font-size: 12px;
  font-family: 'Netflix Sans Md';
  font-weight: 500;
}

.inputError {
  border-top: 2px solid #FFA00A;
  position: absolute;
  width: 100%;
  text-align: left;
  padding: 4px;
  margin-top: -1px;
  display: none;
}

.inputError span {
  color: #FFA00A;
  font-size: 15px;
  font-family: 'Netflix Sans Rg';
}

.subscribeBtn {
  background-color: #E50914;
  width: 180px;
  border: none;
  outline: none;
  margin-left: 1px;
  cursor: pointer;
}

.subscribeBtn:hover {
  background-color: #f40612;
}

.subscribeBtn span {
  color: white;
  font-size: 26px;
  font-family: 'Netflix Sans Rg';
  margin-right: 8px;
}

.promoSection,
.footer {
  border-top: 8px solid #222;
  padding: 70px 45px;
}

.promoSectionContainer {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.promoSectionTexts {
  width: 52%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.promoSectionTextsReverse {
  width: 52%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.promoSectionTitle {
  font-family: 'Netflix Sans Md';
  font-size: 50px;
  color: white;
  margin-bottom: 14px;
}

.promoSectionDesc {
  font-family: 'Netflix Sans Rg';
  font-size: 26px;
  color: white;
}

.promoSectionMediaArea {
  width: 48%;
  height: 100%;
  display: flex;
  flex: 0 1 auto;
  padding-left: 24px;
}

.promoSectionMediaAreaReverse {
  width: 48%;
  height: 100%;
  display: flex;
  flex: 0 1 auto;
  padding-right: 24px;
}

.promoMediaWrapper {
  position: relative;
  margin: -10% -5% -5% 0;
}

.promoMediaWrapperReverse {
  position: relative;
  margin: -5% 0 -5% 0;
}

.promoDownloadWrapper {
  position: relative;
  margin: -5% 0 -5% 0;
  display: flex;
  justify-content: center;
}

.promoImage {
  position: relative;
  z-index: 2;
  border: 0;
  max-width: 100%;
}

.promoVideoArea {
  position: absolute;
  width: 73%;
  height: auto;
  top: 48%;
  left: 49.5%;
  transform: translateX(-50%) translateY(-50%);
}

.deviceVideoArea {
  position: absolute;
  width: 61%;
  height: auto;
  top: 34%;
  left: 49.5%;
  transform: translateX(-50%) translateY(-50%);
}

.promoVideoArea video,
.deviceVideoArea video {
  width: 100%;
}

.downloadingBox {
  border: 2px solid #222;
  border-radius: 10px;
  padding: 5px 10px 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 3;
  background-color: #000;
  bottom: 10%;
}

.downloadInfo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.downloadInfo div {
  display: flex;
  flex-direction: column;
}

.downloadCoverImage {
  width: 50px;
}

.dwlTitle {
  font-size: 16px;
  color: white;
}

.dwlStatus {
  font-size: 16px;
  font-family: 'Netflix Sans Rg';
  color: #005FEB;
}

.dwlGif {
  width: 48px;
  margin-left: 5px;
}



.faqSection {
  border-top: 8px solid #222;
  padding: 70px 45px;
}

.faqSectionContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;
}

.faqSectionContainer h1 {
  text-align: center;
  font-family: 'Netflix Sans Md';
  font-size: 50px;
  font-weight: 500;
  color: white;
  margin-bottom: 48px;
}

.questionsList {
  width: 815px;
  list-style: none;
}

.question {
  background-color: #303030;
  color: white;
  overflow: hidden;
  margin-bottom: 8px;
}

.qTop {
  padding: 20px 24px 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qTitle {
  font-family: 'Netflix Sans Rg';
  font-size: 26px;
  font-weight: 400;
}

.qTop svg {
  transform: rotate(-45deg);
}

.qAnswer {
  border-top: 1px solid #000;
  max-height: 0;
  transition: max-height .3s;
}

.qAnswer span {
  margin: 28px 32px 36px;
  font-family: 'Netflix Sans Rg';
  font-size: 26px;
  font-weight: 300;
}

.emailArea {
  margin: 50px 0 10px;
  color: white;
}

.footer {
  font-family: 'Netflix Sans Rg';
  font-size: 13px;
  color: #737373;
}