.page {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.firstBrake {
  background-image: url('../../assets/images/signBg.jpg');
  background-position: center;
  background-size: cover;
  height: 660px;
}

.firstBrakeWrapper {
  background: linear-gradient(rgba(0, 0, 0, .8),
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .9));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bannerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 138px;
}

.bannerCenter h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 52px;
}

.bannerCenter h2 {
  font-size: 26px;
  font-family: 'Netflix Sans Rg';
  font-weight: 400;
  margin-bottom: 30px;
}

.promoSection {
  border-top: 8px solid #222;
  padding: 70px 45px;
}

.promoSectionContainer {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.promoSectionTexts {
  width: 52%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.promoSectionTextsReverse {
  width: 52%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.promoSectionTitle {
  font-family: 'Netflix Sans Md';
  font-size: 50px;
  color: white;
  margin-bottom: 14px;
}

.promoSectionDesc {
  font-family: 'Netflix Sans Rg';
  font-size: 26px;
  color: white;
}

.promoSectionMediaArea {
  width: 48%;
  height: 100%;
  display: flex;
  flex: 0 1 auto;
  padding-left: 24px;
}

.promoSectionMediaAreaReverse {
  width: 48%;
  height: 100%;
  display: flex;
  flex: 0 1 auto;
  padding-right: 24px;
}

.promoMediaWrapper {
  position: relative;
  margin: -10% -5% -5% 0;
}

.promoMediaWrapperReverse {
  position: relative;
  margin: -5% 0 -5% 0;
}

.promoDownloadWrapper {
  position: relative;
  margin: -5% 0 -5% 0;
  display: flex;
  justify-content: center;
}

.downloadingBox {
  border: 2px solid #222;
  border-radius: 10px;
  padding: 5px 10px 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 3;
  background-color: #000;
  bottom: 10%;
}

.downloadInfo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.downloadInfo div {
  display: flex;
  flex-direction: column;
}

.downloadCoverImage {
  width: 50px;
}

.dwlTitle {
  font-size: 16px;
  color: white;
}

.dwlStatus {
  font-size: 16px;
  font-family: 'Netflix Sans Rg';
  color: #005FEB;
}

.dwlGif {
  width: 48px;
  margin-left: 5px;
}

.faqSection {
  border-top: 8px solid #222;
  padding: 70px 45px;
}

.faqSectionContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;
}

.faqSectionContainer h1 {
  text-align: center;
  font-family: 'Netflix Sans Md';
  font-size: 50px;
  font-weight: 500;
  color: white;
  margin-bottom: 48px;
}

.questionsList {
  width: 815px;
  list-style: none;
}

.emailArea {
  margin: 50px 0 10px;
  color: white;
}