@font-face {
  font-family: 'Netflix Sans Md';
  src: url('./assets/fonts/NetflixSans_W_Md.woff2');
}

@font-face {
  font-family: 'Netflix Sans Rg';
  src: url('./assets/fonts/NetflixSans_W_Rg.woff2');
}

@font-face {
  font-family: 'Netflix Icon';
  src: url('./assets/fonts/nf-icon-v1-93.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans Md', 'Netflix Sans Rg', 'Netflix Icon',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.withOpenedModal::-webkit-scrollbar {
  width:0;
}